<div cell-pa=[-pa10:-cn] class="page-sec">
  <div cell-bg=[-c2] cell-w=[-w.100] class="header">
    <div cell-Q=[-q-cw-l]>
      <p cell-f=[-s35-c5-w9]><img src="../assets/Img/logo-blue.png"></p>
    </div>
  </div>
  <div cell-c='[-c20]' class="cell-c">
    <div cell-sl='[-aa1:-da5(0)-la7(0)-ta9(0)-ma11(0)-sa20(0)-df1(1)-lf1(1)-tf1(1)-mf1(1)-sf1(1)]' class="as-slide">
      <div cell-Q='[-q-sa] cell-p=[-p2]' class="">
        <button cell-f='[-s15-c4-w9-f1]' class="btn as-left-open">Menu</button>
        <button cell-f='[-s15-c4-w9-f1]' class="btn as-right-open">List</button>
      </div>
      <div cell-Q='[-q]' class="">
        <div cell-sl='[-lo]' cell-bg='[-c4]' class=" ">
          <div cell-t='[-r]' class="">
            <button class="btn as-left-close">X</button>
          </div>
          <div class="menu">
            <div cell-pa='[-ec10(1)]' class="list">
              <p><a href="#">CDN Links</a></p>
            </div>
            <div cell-pa='[-ec10(2)]' class="list">
              <p><a href="#">cell-c</a></p>
            </div>
            <div cell-pa='[-ec10(3)]' class="list">
              <p><a href="#">cell-Q</a></p>
            </div>
            <div cell-pa='[-ec10(4)]' class="list">
              <p><a href="#">cell-Q Column Positions</a></p>
            </div>
            <div cell-pa='[-ec10(5)]' class="list">
              <p><a href="#">cell-w</a></p>
            </div>
            <div cell-pa='[-ec10(6)]' class="list">
              <p><a href="#">cell-Q width Positions</a></p>
            </div>
            <div cell-pa='[-ec10(7)]' class="list">
              <p><a href="#">cell-h</a></p>
            </div>
            <div cell-pa='[-ec10(8)]' class="list">
              <p><a href="#">cell-p</a></p>
            </div>
            <div cell-pa='[-ec10(9)]' class="list">
              <p><a href="#">cell-m</a></p>
            </div>
            <div cell-pa='[-ec10(10)]' class="list">
              <p><a href="#">cell-d</a></p>
            </div>
            <div cell-pa='[-ec10(11)]' class="list">
              <p><a href="#">cell-G</a></p>
            </div>
            <div cell-pa='[-ec10(12)]' class="list">
              <p><a href="#">cell-t</a></p>
            </div>
            <div cell-pa='[-ec10(13)]' class="list">
              <p><a href="#">cell-ts</a></p>
            </div>
            <div cell-pa='[-ec10(14)]' class="list">
              <p><a href="#">cell-bs</a></p>
            </div>
            <div cell-pa='[-ec10(15)]' class="list">
              <p><a href="#">cell-f</a></p>
            </div>
            <div cell-pa='[-ec10(16)]' class="list">
              <p><a href="#">cell-b</a></p>
            </div>
            <div cell-pa='[-ec10(17)]' class="list">
              <p><a href="#">cell-r</a></p>
            </div>
            <div cell-pa='[-ec10(18)]' class="list">
              <p><a href="#">cell-bg</a></p>
            </div>
            <div cell-pa='[-ec10(19)]' class="list">
              <p><a href="#">cell-o</a></p>
            </div>
            <div cell-pa='[-ec10(20)]' class="list">
              <p><a href="#">cell-ta</a></p>
            </div>
            <div cell-pa='[-ec10(21)]' class="list">
              <p><a href="#">cell-dw</a></p>
            </div>
            <div cell-pa='[-ec10(22)]' class="list">
              <p><a href="#">cell-a</a></p>
            </div>
            <div cell-pa='[-ec10(23)]' class="list">
              <p><a href="#">cell-sl(ns)</a></p>
            </div>
            <div cell-pa='[-ec10(24)]' class="list">
              <p><a href="#">cell-sl(as)</a></p>
            </div>
            <div cell-pa='[-ec10(25)]' class="list">
              <p><a href="#">cell-sl(rs)</a></p>
            </div>
            <div cell-pa='[-ec10(26)]' class="list">
              <p><a href="#">cell-sl(nest)</a></p>
            </div>
            <div cell-pa='[-ec10(27)]' class="list">
              <p><a href="#">cell-tb</a></p>
            </div>
            <div cell-pa='[-ec10(28)]' class="list">
              <p><a href="#">cell-sm</a></p>
            </div>
            <div cell-pa='[-ec10(29)]' class="list">
              <p><a href="#">cell-ap</a></p>
            </div>
            <div cell-pa='[-ec10(30)]' class="list">
              <p><a href="#">cell-pa</a></p>
            </div>
            <div cell-pa='[-ec10(31)]' class="list">
              <p><a href="#">cell-po</a></p>
            </div>
            <div cell-pa='[-ec10(32)]' class="list">
              <p><a href="#">cell-in(input)</a></p>
            </div>
            <div cell-pa='[-ec10(33)]' class="list">
              <p><a href="#">cell-in(Icon Input)</a></p>
            </div>
            <div cell-pa='[-ec10(34)]' class="list">
              <p><a href="#">cell-in(Select Box)</a></p>
            </div>
            <div cell-pa='[-ec10(35)]' class="list">
              <p><a href="#">cell-in(Icon Select Box)</a></p>
            </div>
            <div cell-pa='[-ec10(36)]' class="list">
              <p><a href="#">cell-in(Text Area)</a></p>
            </div>
            <div cell-pa='[-ec10(37)]' class="list">
              <p><a href="#">cell-in(Check Box)</a></p>
            </div>
            <div cell-pa='[-ec10(38)]' class="list">
              <p><a href="#">cell-in(Radio)</a></p>
            </div>
            <div cell-pa='[-ec10(39)]' class="list">
              <p><a href="#">cell-mo</a></p>
            </div>
            <div cell-pa='[-ec10(40)]' class="list">
              <p><a href="#">cell-fl</a></p>
            </div>
            <div cell-pa='[-ec10(41)]' class="list">
              <p><a href="#">cell-gr</a></p>
            </div>
            <div cell-pa='[-ec10(42)]' class="list">
              <p><a href="#">cell-pc</a></p>
            </div>
            <div cell-pa='[-ec10(43)]' class="list">
              <p><a href="#">cell-an</a></p>
            </div>
            <div cell-pa='[-ec10(44)]' class="list">
              <p><a href="#">cell-ss</a></p>
            </div>
            <div cell-pa='[-ec10(45)]' class="list">
              <p><a href="#">cell-wz</a></p>
            </div>
            <div cell-pa='[-ec10(46)]' class="list">
              <p><a href="#">cell-bu</a></p>
            </div>
            <div cell-pa='[-ec10(47)]' class="list">
              <p><a href="#">cell-tg</a></p>
            </div>
            <div cell-pa='[-ec10(48)]' class="list">
              <p><a href="#">cell-Pi</a></p>
            </div>
            <div cell-pa='[-ec10(49)]' class="list">
              <p><a href="#">cell-Pb</a></p>
            </div>
            <div cell-pa='[-ec10(50)]' class="list">
              <p><a href="#">cell-Rm</a></p>
            </div>
            <div cell-pa='[-ec10(51)]' class="list">
              <p><a href="#">cell-Cm</a></p>
            </div>
            <div cell-pa='[-ec10(52)]' class="list">
              <p><a href="#">cell-Nv</a></p>
            </div>
          </div>
        </div>
        <div cell-sl='[-m]' cell-bg='[-c2]' cell-c='[-c20]' cell-p='[-p25]' class="column">
          <div cell-pa='[-ea10(1)]' cell-c='[-c20]' class="content-sec">
            <app-Cdn></app-Cdn>
          </div>
          <div cell-pa='[-ea10(2)]' cell-c='[-c20]' class="content-sec">
            <app-C></app-C>
          </div>
          <div cell-pa='[-ea10(3)]' cell-c='[-c20]' class="content-sec">
            <app-Q></app-Q>
          </div>
          <div cell-pa='[-ea10(4)]' cell-c='[-c20]' class="content-sec">
            <app-Cp></app-Cp>
          </div>
          <div cell-pa='[-ea10(5)]' cell-c='[-c20]' class="content-sec">
            <app-W></app-W>
          </div>
          <div cell-pa='[-ea10(6)]' cell-c='[-c20]' class="content-sec">
            <app-Wp></app-Wp>
          </div>
          <div cell-pa='[-ea10(7)]' cell-c='[-c20]' class="content-sec">
            <app-H></app-H>
          </div>
          <div cell-pa='[-ea10(8)]' cell-c='[-c20]' class="content-sec">
            <app-P></app-P>
          </div>
          <div cell-pa='[-ea10(9)]' cell-c='[-c20]' class="content-sec">
            <app-M></app-M>
          </div>
          <div cell-pa='[-ea10(10)]' cell-c='[-c20]' class="content-sec">
            <app-D></app-D>
          </div>
          <div cell-pa='[-ea10(11)]' cell-c='[-c20]' class="content-sec">
            <app-G></app-G>
          </div>
          <div cell-pa='[-ea10(12)]' cell-c='[-c20]' class="content-sec">
            <app-T></app-T>
          </div>
          <div cell-pa='[-ea10(13)]' cell-c='[-c20]' class="content-sec">
            <app-Ts></app-Ts>
          </div>
          <div cell-pa='[-ea10(14)]' cell-c='[-c20]' class="content-sec">
            <app-Bs></app-Bs>
          </div>
          <div cell-pa='[-ea10(15)]' cell-c='[-c20]' class="content-sec">
            <app-F></app-F>
          </div>
          <div cell-pa='[-ea10(16)]' cell-c='[-c20]' class="content-sec">
            <app-B></app-B>
          </div>
          <div cell-pa='[-ea10(17)]' cell-c='[-c20]' class="content-sec">
            <app-R></app-R>
          </div>
          <div cell-pa='[-ea10(18)]' cell-c='[-c20]' class="content-sec">
            <app-Bg></app-Bg>
          </div>
          <div cell-pa='[-ea10(19)]' cell-c='[-c20]' class="content-sec">
            <app-O></app-O>
          </div>
          <div cell-pa='[-ea10(20)]' cell-c='[-c20]' class="content-sec">
            <app-Ta></app-Ta>
          </div>
          <div cell-pa='[-ea10(21)]' cell-c='[-c20]' class="content-sec">
            <app-Dw></app-Dw>
          </div>
          <div cell-pa='[-ea10(22)]' cell-c='[-c20]' class="content-sec">
            <app-A></app-A>
          </div>
          <div cell-pa='[-ea10(23)]' cell-c='[-c20]' class="content-sec">
            <app-Normal></app-Normal>
          </div>
          <div cell-pa='[-ea10(24)]' cell-c='[-c20]' class="content-sec">
            <app-Absolute></app-Absolute>
          </div>
          <div cell-pa='[-ea10(25)]' cell-c='[-c20]' class="content-sec">
            <app-Responsive></app-Responsive>
          </div>
          <div cell-pa='[-ea10(26)]' cell-c='[-c20]' class="content-sec">
            <app-Nested></app-Nested>
          </div>
          <div cell-pa='[-ea10(29)]' cell-c='[-c20]' class="content-sec">
            <app-Ap></app-Ap>
          </div>
          <div cell-pa='[-ea10(30)]' cell-c='[-c20]' class="content-sec">
            <app-Pa></app-Pa>
          </div>
          <div cell-pa='[-ea10(31)]' cell-c='[-c20]' class="content-sec">
            <app-Po></app-Po>
          </div>
          <div cell-pa='[-ea10(32)]' cell-c='[-c20]' class="content-sec">
            <app-Input></app-Input>
          </div>
          <div cell-pa='[-ea10(33)]' cell-c='[-c20]' class="content-sec">
            <app-IconInput></app-IconInput>
          </div>
          <div cell-pa='[-ea10(34)]' cell-c='[-c20]' class="content-sec">
            <app-Select></app-Select>
          </div>
          <div cell-pa='[-ea10(35)]' cell-c='[-c20]' class="content-sec">
            <app-IconSelect></app-IconSelect>
          </div>
          <div cell-pa='[-ea10(36)]' cell-c='[-c20]' class="content-sec">
            <app-TextArea></app-TextArea>
          </div>
          <div cell-pa='[-ea10(37)]' cell-c='[-c20]' class="content-sec">
            <app-CheckBox></app-CheckBox>
          </div>
          <div cell-pa='[-ea10(38)]' cell-c='[-c20]' class="content-sec">
            <app-RadioBox></app-RadioBox>
          </div>
          <div cell-pa='[-ea10(39)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(40)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(41)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(42)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(43)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(44)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(45)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(46)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(47)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(48)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(49)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(50)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(51)]' cell-c='[-c20]' class="content-sec">

          </div>
          <div cell-pa='[-ea10(52)]' cell-c='[-c20]' class="content-sec">
            <app-Nv></app-Nv>
          </div>
          <div cell-pa='[-ea10(27)]' cell-c='[-c20]' class="content-sec">
            <app-Tb></app-Tb>
          </div>
          <div cell-pa='[-ea10(28)]' cell-c='[-c20]' class="content-sec">
            <app-Sm></app-Sm>
          </div>
        </div>
        <div cell-sl='[-ro]' cell-bg='[-c1]' class="column">
          <div cell-t='[-l]' class="">
            <button class="btn as-right-close">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>